<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="side-menu">
            <div class="d-flex flex-column align-items-center px-3 pt-2 text-white min-vh-100">
                <img src="././assets/img/avatar.svg" class="image" alt=""/>
                    <span class="fs-5 d-none d-sm-inline mt-2">Witaj {{this.userName}}!</span>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center mt-5" id="menu">
                    <li class="nav-item">
                        <a href="/goals" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Cele</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/stats" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Statystki</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/expenses" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Wydatki</span>
                        </a>
                    </li>
                        <li><a class="nav-link nav-signout" (click)="logOut()" href="/auth">Wyloguj się</a></li>
                    </ul>
            </div>
        </div>
