body {
    background-color: #f4f4f4;
}

.table-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.expenses-table {
    height: auto;
    width: 73%;
}

.wrapper-div {
    display: flex;
}

.modal-body {
    margin: 5px;
}

label,
.form-control,
.form-select {
    margin-bottom: 5px;
}

.btn-save {
    color: white;
    background-color: #6c63ff;
}

.modal-footer {
    border-top: none;
    margin-top: 5px;
}

.btn-add {
    color: white;
    background-color: #457604;
    margin-top: 10px;
    margin-left: 63%;
}

.table-title {
    margin: 20px;
}