body {
    background-color: #F4F4F4;
}

.table-div {
    display: flex;
    justify-content: center;
    width: 100%
}

.expenses-table {
    height: auto;
    width: 73%;
}

.wrapper-div {
    display: flex;
}