<div class="wrapper-div">
<app-side-bar>
</app-side-bar>
<div class="table-div">
  <h1 class="table-title">Twoje wydatki</h1>
  <ag-grid-angular
  class="ag-theme-alpine expenses-table"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [frameworkComponents]="frameworkComponents"
  [domLayout]="domLayout"
  [pagination]="true"
  [paginationPageSize]="paginationPageSize"
  (gridReady)="onGridReady($event)"
  >
</ag-grid-angular>
<button type="button" class="btn btn-add" data-bs-toggle="modal" data-bs-target="#addModal"><i class="fas fa-plus"></i> Dodaj wpis</button>
</div>
<!--Modal Edit-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true" *ngIf="editedExpense">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">Edytuj wpis</h5>
       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
     </div>
     <div class="modal-body">
       <label>Nazwa</label><input class="form-control" type="text" [value]="editedExpense.expenseName" [(ngModel)]="editedExpense.expenseName">
       <label>Typ</label><select class="form-select" [value]="editedExpense.expenseType" [(ngModel)]="editedExpense.expenseType">
        <option value="Wydatek">Wydatek</option>
        <option value="Przychód">Przychód</option>
      </select>
       <label>Kategoria</label><input class="form-control" type="text" [value]="editedExpense.expenseCategory" [(ngModel)]="editedExpense.expenseCategory">
       <label>Kwota</label><input class="form-control" type="number" [value]="editedExpense.expenseAmount" [(ngModel)]="editedExpense.expenseAmount">
       <label>Data</label><input class="form-control" type="date" [value]="editedExpense.expenseDate" [(ngModel)]="editedExpense.expenseDate">
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
       <button type="button" class="btn btn-save" (click)="editExpense()" data-bs-dismiss="modal">Zapisz</button>
     </div>
   </div>
 </div>
</div>
</div>
<!--Modal Delete-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Usuń wpis</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span class="delete-mesage">Czy na pewno chcesz usunąć ten wpis?</span>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cofnij</button>
        <button type="button" (click)="deleteExpense()" id="deleteButton" class="btn btn-save" data-bs-dismiss="modal">Usuń</button>
      </div>
    </div>
  </div>
 </div>
 </div>
 <!--Modal Add-->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true" *ngIf="editedExpense">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dodaj wpis</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label>Nazwa</label><input class="form-control" type="text" placeholder="Nazwa" [(ngModel)]="newExpense.expenseName">
        <label>Typ</label><select class="form-select"[(ngModel)]="newExpense.expenseType">
         <option value="Wydatek">Wydatek</option>
         <option value="Przychód">Przychód</option>
       </select>
        <label>Kategoria</label><input class="form-control" type="text" placeholder="Kategoria" [(ngModel)]="newExpense.expenseCategory">
        <label>Kwota</label><input class="form-control" type="number" placeholder="Kwota" [(ngModel)]="newExpense.expenseAmount">
        <label>Data</label><input class="form-control" type="date"[(ngModel)]="newExpense.expenseDate">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
        <button type="button" class="btn btn-save" (click)="postExpense()" data-bs-dismiss="modal">Dodaj</button>
      </div>
    </div>
  </div>
 </div>
