body {
    background-color: #F4F4F4;
}

.table-div {
    display: flex;
    justify-content: center;
    width: 100%
}

.expenses-table {
    height: auto;
    width: 73%;
}

.wrapper-div {
    display: flex;
}

.modal-body {
    margin: 5px;
}

label,
.form-control,
.form-select {
    margin-bottom: 5px;
}

.btn-save {
    color: white;
    background-color: #6C63FF;
}

.modal-footer {
    border-top: none;
    margin-top: 5px;
}