<div class="wrapper-div">
  <app-side-bar> </app-side-bar>
  <div class="table-div">
    <h1 class="table-title">Twoje cele</h1>
    <ag-grid-angular
      class="ag-theme-alpine goals-table"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [domLayout]="domLayout"
      [pagination]="true"
      [paginationPageSize]="paginationPageSize"
      (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
    <button
      type="button"
      class="btn btn-add"
      data-bs-toggle="modal"
      data-bs-target="#addModal"
    >
      <i class="fas fa-plus"></i> Dodaj wpis
    </button>
  </div>
</div>
